<!-- detailedview.ejs
 A more detailed view of a specific issue that contains relevant information
 such as images, a map, a status and comments. -Justin, Lily Linh Lan -->

<% include ./partials/header %>

<br>
<br>



    <div>
        <center><h1><i><%= issue.title %></i></h1></center><br><br>
      </div>



<!--  Display map and picture in the same row -->
<div>
  <div class="row" style="left: 19%; width: 95%; position: relative;">
    <div class="col-sm-4">
      <% if (issue.imagePath != '#') {%>
        <center><img src=<%= issue.imagePath %> class="img-fluid" alt="Responsive image"></center>
      <% } %>
    </div>
    <div class="col-sm-4">
      <div id="googleMap" style="height: calc(47vh - 100px);">
      </div>
    </div>
  </div>
</div>





<!-- Align issue image in the middle, slightly to the left. -->

<!-- Enclose information and comments in a single jumbotron. -->
<div class="container jumbotron" id="main-container">
  <h2><b>Description</b></h2><br>
  <h6><%= issue.description %></h6>
  <br>
<!-- Issue Status aligned right. -->
  <h6><p align= "right">Status:<b> <%=issue.issue_status%></b></h6></p></h6>
  <div class="col-sm-3">
    <center><h5><b>Comments</b></h5></center><br>
  </div>

<!-- Comments are empty initially -->
  <div id="comments">
  </div>
<br><br>
<div class="col-sm-3">
<center><h7><b><i>Leave a comment below:</b></i></h7></center><br>
</div>

  <input type="hidden" name="issue_id" id="issue_id" value=<%= issue.issue_id %>>
  </input
  <!-- Text field (of 7 rows) for user comments. -->
  <p id="error" class="text-danger center"></p>
  <div class="form-group row">
    <div class= "col-sm-12">
      <textarea name= "content" class="form-control" id="content" rows="7"></textarea>
    </div>
  </div>
  <!-- Comment button will add user's comment to the latest of the comment list. -->
  <% if (user) {%>
    <!-- only logged in user can comment -->
    <center><br><button type="submit" id="postComment" class="btn btn-secondary" style="float:right">COMMENT</button></center><br><br>
  <% } else {%>
    <center><br><button type="submit" id="postComment" disabled=true class="btn btn-secondary" style="float:right">COMMENT</button></center><br><br>
  <% }%>
  </div>


<script src="/scripts/issue.js"></script>
<% include ./partials/footer %>
